.mainBox {
    width: 100%;
    margin: 0 auto;
    display: flex;
    vertical-align: top;
}

.lightTheme {
    composes: lightTheme from "./../../../App.css"
}

.larkTheme {
    composes: darkTheme from "./../../../App.css"
}