.leftBanner {
    display: inline-flex;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    position: sticky;
    top: 12.75%;
    left: 0;
    width: 160px;
    height: 600px;
}

.bannerLightTheme {
    composes: bannerLightTheme from "./../../../App.css"
}

.bannerDarkTheme {
    composes: bannerDarkTheme from "./../../../App.css"
}