.gameBox {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: table-cell;
}


.lightTheme {
    composes: lightTheme from "./../../App.css"
}

.darkTheme {
    composes: darkTheme from ".//../../App.css"
}