.gameControls {
    width: auto;
    height: auto;
    margin: 0 auto;
    display: block;
}

.lightTheme {
    composes: lightTheme from "./../../../../App.css"
}

.darkTheme {
    composes: darkTheme from "./../../../../App.css"
}