.header {
    position: sticky;
    top: 0;
    width: auto;
    height: 12.5%;
    z-index: 100;
}

.lightTheme {
    composes: lightTheme from "./../../../../App.css"
}

.darkTheme {
    composes: darkTheme from "./../../../../App.css"
}

@import '~antd/dist/antd.css';