@media screen and (max-width: 728px){
    .upperBanner{
        display: none
    }
}

    .upperBanner{
        margin:0 auto;
        position: relative;
        align-self: center;
        width: 728px;
        height: 90px;
    }

    .bannerLightTheme {
        composes: bannerLightTheme from "./../../../App.css"
    }

    .bannerDarkTheme {
        composes: bannerDarkTheme from "./../../../App.css"
    }




