.bottomBanner {
    margin:0 auto;
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    display: block;
    bottom: 0;
    width: 234px;
    heightI: 60px;
}

.bannerLightTheme {
    composes: bannerLightTheme from "./../../../App.css"
}

.bannerDarkTheme {
    composes: bannerDarkTheme from "./../../../App.css"
}