.App {
  text-align: center;
}

.lightTheme {
  background: "./../public/bckGndBricks.jpg";
}

.darkTheme {
  background-color: maroon;
  border: solid darkstategrey;
}

.bannerLightTheme{
  background-color: yellow;

}

.bannerDarkTheme{
  background-color: midnightblue;
  border: solid darkmagenta;
}