@media screen and (max-width: 728px){
    .rightBanner{
        display: none
    }
}


.rightBanner {
    display: inline-flex;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    position: sticky;
    top: 12.75%;
    right: 0;
    width: 120px;
    height: 600px;
}

.bannerLightTheme {
    composes: bannerLightTheme from "./../../../App.css"
}

.bannerDarkTheme {
    composes: bannerDarkTheme from "./../../../App.css"
}